<div class="father"  >

<!-- 
    <div class="social">
        <img src="../../../assets/linkedin.png"/>
    </div>
    <div class="social">
        <img src="../../../assets/github.png" />
    </div>
    <div class="social">
        <img src="../../../assets/trello.png" />
    </div>
    <div class="social">
        <img src="../../../assets/facebook.png" />
    </div>
    <div class="social">
        <img src="../../../assets/instagram.png" />
    </div>
    <div class="social">
        <img src="../../../assets/spotify.png" />
    </div> -->
    <!-- <img src="../../../assets/linkedin.png" class="social" />
    <img src="../../../assets/github.png" class="social" />
    <img src="../../../assets/trello.png" class="social" />
    <img src="../../../assets/facebook.png" class="social" />
    <img src="../../../assets/instagram.png" class="social" />
    <img src="../../../assets/spotify.png" class="social" /> -->

    <mat-grid-list cols="2" rowHeight="32vh">
        <mat-grid-tile class="tile"><img src="../../../assets/linkedin.png" class="social" /></mat-grid-tile>
        <mat-grid-tile class="tile"><img src="../../../assets/github.png" class="social" /></mat-grid-tile>
        <mat-grid-tile class="tile"><img src="../../../assets/trello.png" class="social" /></mat-grid-tile>
        <mat-grid-tile class="tile"><img src="../../../assets/facebook.png" class="social" /></mat-grid-tile>
        <mat-grid-tile class="tile"><img src="../../../assets/instagram.png" class="social" /></mat-grid-tile>
        <mat-grid-tile class="tile"><img src="../../../assets/spotify.png" class="social" /></mat-grid-tile>
      </mat-grid-list>

      
</div>






<!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- <div>Icons made by <a href="https://icon54.com/" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->