<div class="father-grid">


  <mat-grid-list cols="2" rowHeight="32vh">
    <!-- Quelle der Bilder Flaticon.com -->
    <mat-grid-tile class="tile"><a href="https://www.linkedin.com/in/juan-camilo-guzman-toro-9550b5119">
        <img src="../../../assets/linkedin.png" class="social" />
      </a>
    </mat-grid-tile>
    <mat-grid-tile class="tile">
      <a href="https://github.com/jcgt26"><img src="../../../assets/github.png" class="social rounded-icons" /></a>
    </mat-grid-tile>
    <mat-grid-tile class="tile">
      <a href="https://trello.com/juancamiloguzman2/boards">
        <img src="../../../assets/trello.png" class="social" />
      </a>
    </mat-grid-tile>
    <mat-grid-tile class="tile">
      <a href="https://www.facebook.com/profile.php?id=100011438778477">
        <img src="../../../assets/facebook.png" class="social" />
      </a>
    </mat-grid-tile>
    <mat-grid-tile class="tile">
      <a href="https://www.instagram.com/nicks_pizza26/">
        <img src="../../../assets/instagram.png" class="social" />
      </a>
    </mat-grid-tile>
    <mat-grid-tile class="tile">
      <a href="https://open.spotify.com/user/4ptatyjwenmtbfyzn5ty0dq7l?si=R-IuJgOMQkKdNuOoHpaInA">
        <img src="../../../assets/spotify.png" class="social rounded-icons" />
      </a>
    </mat-grid-tile>
  </mat-grid-list>

</div>