<div class="container">

          <table mat-table class="mat-elevation-z8" [dataSource]="progress_list">
            <ng-container matColumnDef="Icon">
                <th mat-header-cell *matHeaderCellDef>
                  
                  <!-- img from Freepik -->
                  <a href=" https://www.freepik.com">
                    <img src="../../../assets/pacman.png" alt="Freepik" id="icon-pacman">
                  </a>
                </th>
                <td mat-cell *matCellDef="let element ">{{element.position}}</td>
              </ng-container>
    
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element">  {{element.name}} </td>
              </ng-container>
    
            <ng-container matColumnDef="progress">
                <th mat-header-cell *matHeaderCellDef> Progress </th>
                <td mat-cell *matCellDef="let element "> 
                    <mat-progress-bar mode="determinate" value="{{element.progress_value}}"></mat-progress-bar>
                </td>
              </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

<br>

</div>
