body{
    margin: 0;
}
.father{
    // height: 100%;
    // display: flex;
    // flex-wrap: row;
    // flex-direction: row;
    // justify-content: center;
    //  background-color: lightskyblue;
     padding: 20px;
}

#title{
    text-align: center;
}


#quote{
    padding: 2em;
}