.full-height {
    height: 100%;
    display: flex;
    
}
.opened{
    width: 100px;
}

.with-icon {
    display: flex;
    align-items: center;
    
}
.padded {
    padding: 10px;
}
.sidenav{
    background-color: #600099;
    color: #f5f1f1fa;
}
    
mat-sidenav-content{
        // background-color: red;
      width: 100vw;
    //   padding: 16px;
}
